.ticket {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-radius: 1rem;
    background-color: var(--panel-color);
    padding: 4rem;
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    color: var(--blue-color);
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 4.8rem; /* 100% */
  }
  &__logo {
    width: 22rem;
    height: 7.2rem;
    img {
      object-fit: contain;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__wrap {
    display: flex;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    span {
      display: block;
      color: var(--gray-color);
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3.6rem; /* 150% */
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
    strong {
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4.2rem; /* 150% */
    }
  }
}
