.scroll {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.2rem solid var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__icon {
    object-fit: contain;
    width: 3rem;
    height: 3rem;
    transform: rotate(-90deg);
  }
}
